.ant-layout-content {
    background-color: #ffffff;
}

.page-header-text {
    font-size: 48px;
    font-weight: 700;
    color: #2a2a2a;
}

.about-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    img {
        width: 90%;
    }
}

.about-text-wrapper {
    margin: 40px 250px;
    margin-bottom: 300px;
    background-image: url('../../../image/group.jpg');

    .about-header {
        font-size: 20px;
        font-weight: 700;
        color: #2a2a2a;
    }

    .about-text-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: #2a2a2a;
    }
}

@media only screen and (max-width: 1200px) {
    .about-text-wrapper {
        margin: 40px 50px; 
    }
}

@media only screen and (max-width: 600px) {
    .about-text-wrapper {
        margin: 40px 0; 
    }
}