.bar-header {
  height: 112px!important;
  background: #fff url("../../image/nav-background.jpg") no-repeat right!important;
  user-select: none;
  position: relative;
  z-index: 1;

  &.is-index {
    background: transparent!important;
  }

  .mobile-menu {
    display: none;

    &.open-drawer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 112px;
      background-color: rgba(255,255,255,0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mobile-language {
        .languageSwitch {
          font-size: 15px;
          color: #513ab7;
          padding: 15px 20px;
          font-weight: 700;

          &.selectedTheme {
            color: #fff;
            background-color: #513ab7;
          }
        }
      }

      ul {
        a {
          color: #000000;
          font-size: 15px;
          font-weight: 700;
          text-decoration: none;

          &.active {
            color: #5a1ca9;
            text-decoration: none;
          }
        }

        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        justify-content: space-around;
        text-transform: uppercase;
      }
    }
  }

  .header-row {
    height: 100%;

    .logo-wrapper {
      display: flex;
      align-items: center;

      .logo-link {
        display: flex;

        img {
          height: 60px;

          @media only screen and (max-width: 490px) {
            width: 40vw;
            height: 100%;
          }
        }
      }
    }

    .menu-wrapper {
      font-size: 15px;
      display: flex;
      justify-content: space-around;
      text-transform: uppercase;

      a {
        color: #000000;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;

        &.active {
          color: #5a1ca9;
          text-decoration: none;
        }
      }
    }

    .languageSwitch {
      font-size: 15px;
      color: #ffffff;
      padding: 15px 20px;
      font-weight: 700;

      &.selectedTheme {
        background-color: #513ab7;
      }
    }

    .bar-burger {
      @background_color_1: #000;
      @background_color_2: #fff;

      &.wrapper-menu {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;
      }
      &.wrapper-menu.open {
        transform: rotate(-45deg);
      }
      .line-menu {
        background-color: @background_color_2;
        border-radius: 5px;
        width: 100%;
        height: 6px;
      }
      .line-menu.half {
        width: 50%;
      }
      .line-menu.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
      }
      &.open {
        .line-menu.start {
          transform: rotate(-90deg) translateX(3px);
        }
        .line-menu.end {
          transform: rotate(-90deg) translateX(-3px);
        }
      }
      .line-menu.end {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
      }
    }
  }
}