.ant-layout-footer{
  text-align: center;
  background-image: url('../../image/18-layers.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;

  .footer-nav-wrapper {
    text-align: left;

    nav {
      ul {
        font-weight: 700;
        a {
          margin: 8px 0;
          font-size: 15px;
          text-transform: uppercase;

          &:hover {
            color: #2a2a2a;
          }

          &.active {
            color: #5a1ca9;
            text-decoration: none;
          }
        }
      }
    }
  }

  .social-network-cirlce {
    background-color: #ffffff;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  .social-network-wrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 92px;
  }

  .get-in-touch-wrapper {
    .get-in-touch {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    p {
      color: #2a2a2a;
      text-align: left;
      font-size: 16px;
    }
  }

  .footer-row {
    padding: 30px;
  }

  .first-row {
    align-items: center
  }

  .map-wrapper {
    background-color: white;
    height: 240px;
    width: 460px;
  }

  .map-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #2a2a2a;
  }

  .logo-wrapper {
    height: 115px;
    display: flex;
    align-items: center
  }
}

@media only screen and (max-width: 1200px) {
  .footer-nav-wrapper,
  .logo-wrapper,
  .social-network-wrapper {
    display: flex;
    justify-content: center;
  }

  .get-in-touch-wrapper > p {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .map-wrapper {
    display: none;
  }

  .get-in-touch-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav-wrapper {
    text-align: center !important;
  }

  .social-network-wrapper {
    margin-top: -24px;
  }

  .get-in-touch-wrapper {
    display: flex !important;
  }

  .ant-layout-footer {
    overflow-x: hidden !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .get-in-touch-wrapper {
    display: none !important;
  }

  .social-network-wrapper {
    margin-top: -24px;
  }
}

